.block-padding, .content__contact {
  padding: 50px 0;
}

.block-heading, .contact__heading {
  color: #333;
  font-size: 3.231rem;
  font-weight: 300;
  font-family: "Raleway", "Helvetica,Arial", sans-serif;
  letter-spacing: 0.5px;
  margin: 0 0 50px;
  text-transform: uppercase;
}

.text {
  letter-spacing: 0.8px;
  font-size: 1.385rem;
  text-align: justify;
  font-weight: 300;
}

.text-descr, .contact__descr {
  font-size: 1.385rem;
  font-weight: 400;
  line-height: 1.5;
}

.label, .messageForm__label {
  font-size: 1.077rem;
  height: 25px;
  line-height: 25px;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}

.input, .messageForm__input {
  border-radius: 3px;
  height: 40px;
}

.textarea, .messageForme__textarea {
  width: 100%;
  resize: none;
}

.btn, .messageForm__btn {
  font-size: 1.231rem;
  padding: 10px 40px;
}

.contact__panel {
  background-color: #EAF0F2;
  border-radius: 10px;
  padding: 50px 0;
  margin: 50px 0 0;
}

.panel__item {
  display: inline-block;
  background-color: #fff;
  padding: 30px 0;
  margin: 0 1%;
  width: 17%;
  border-radius: 10px;
  position: relative;
}
.panel__item:hover .panel__img {
  text-decoration: none;
  -webkit-animation-name: swing;
          animation-name: swing;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.panel__item:nth-child(1) {
  top: -20px;
}
.panel__item:nth-child(2n) {
  top: 20px;
}
.panel__item:nth-child(3n) {
  top: -20px;
}
.panel__item:nth-child(5n) {
  top: -20px;
}

.panel__img {
  margin: 0 0 30px;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
  width: 80px;
}

.panel__mail {
  margin: 15px 0 40px;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.panel__link {
  text-decoration: none;
  font-size: 1.231rem;
  color: #333;
  margin: 0;
}
.panel__link:hover {
  text-decoration: none;
  color: #0e0e40;
}

.panel__link_mail {
  font-size: 1.077rem;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.contact__message {
  margin: 50px 0 0;
  background-color: #EAF0F2;
  padding: 50px;
}

.message__heading {
  padding: 0 0 30px;
  font-size: 1.538rem;
  text-align: left;
  font-weight: 500;
  margin: 0;
}

.messageForm__group {
  margin: 20px 0 0;
}

.messageForm__input {
  margin-bottom: 15px;
}
